header span{
    text-align: center;
    border-radius: 100px;
    background-color: honeydew;
    padding-top: 30Px;
    color: blue;
    padding-bottom: 30px;
    padding-left: 20%;
    display: flex;
    font-weight: bolder;
    font-size: 35px;

}
header img{
    border-radius: 30px;
    float: left;
}
ul li{

    list-style: none;
    float: left;
    margin: 0;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

ul li:hover{
    background-color: dodgerblue;
}
a{
    color:white;
    text-decoration: none;
}
nav{
    background-color: deeppink;
    height: 40px;
}
article{
    border: 2px solid blue;
    padding:5px;
    margin:5px;
    border-radius: 15px;
}
footer{
    float: bottom;
    background-color: lightblue;
    color: green;
    height: 80px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}.main{

     height:28%;
    width: 100%;

 }
.one{
    width: 50%;
    float: left;
    position: absolute;
}
.two{
    width: 50%;
    float: right;
}
